<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Create Room</title>
    <meta
      name="viewport"
      content="width=device-width, inital-scale=1, user-scalable=no"
    />
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body class="centered-form">
    <div class="centered-form__form">
      <form action="/" method="POST">
        <div class="form-field"><h3>Create Room</h3></div>
        <label>Room name</label>
        <input type="text" name="name" autofocus />
        <div class="form-field">
          <button type="submit">Create Room</button>
        </div>
      </form>
    </div>
  </body>
</html>
