<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/landing.css" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"
    ></script>
    <title>Synced-up</title>
  </head>

  <body>
    <nav class="navbar navbar-light bg-light" id="nav">
      <div class="container-fluid">
        <a class="navbar-brand" id="logo" href="/"> Synced-up </a>
      </div>
    </nav>

    <div class="maincontainer">
      <div class="card">
        <form class="form" id="uploadForm">
          <div class="input-group mb-3">
            <input
              type="file"
              name="video"
              class="form-control"
              id="inputGroupFile02"
              required
            />
            <input type="submit" class="input-group-text" value="Upload" />
          </div>
        </form>
        <div class="progress" id="progress-bar">
          <div class="bar">
            <span class="percent">0%</span>
          </div>
        </div>
        <div class="linkcont">
          <a class="links" href="/custom/<%= roomId %>">Custom</a>

          <a class="links" href="/youtube/<%= roomId %>">youtube</a>
        </div>
        <p>
          If selecting custom then upload the video if you don't have anything
          saved
        </p>
      </div>
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/upload.js"></script>
  </body>
</html>
