html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background: url('/background3.jpg');

  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  /* display: flex;
  position: relative;
  justify-content: center;
  align-items: center; */

  text-align: center;
  background: rgba(17, 17, 16, 0.527);
  height: 100vh;
}
#container1 {
  border-radius: 4px;
  position: relative;
  float: left;
  width: 25%;
  text-align: left;
  margin-right: 50px;
  height: 90%;

  background-color: #eeece694;
}

#msg-form {
  padding: 0;
  position: absolute;
  width: 100%;
  bottom: 0;
}
#msg-form > input {
  position: absolute;
  left: 0;
  height: 40px;
  width: 80%;
}

#msg-form > button {
  position: absolute;
  left: 80%;
  height: 40px;
  font-size: 1vw;
  width: 20%;
}

.video {
  width: 100%;
}
.c-video:hover .controls {
  transform: translateY(0);
}
.c-video {
  float: left;
  position: relative;
  width: 50%;
  max-width: 700px;
  overflow: hidden;
}

#notification {
  float: right;
  height: 50%;
  border-radius: 5px;
  width: 17%;
  background-color: rgba(252, 248, 240, 0.301);
}

.controls {
  display: flex;
  position: absolute;
  bottom: 0;
  width: 100%;
  flex-wrap: wrap;
  background-color: rgba(0, 0, 0, 0.7);
  transform: translateY(100%) translateY(-5px);
  transition: all 0.2s;
}
.buttons button {
  background: none;
  border: 0;
  outline: 0;
  cursor: pointer;
}
.buttons {
  padding: 10px;
}
.buttons button:before {
  content: '\f144';
  font-family: 'Font Awesome 5 Free';
  width: 30px;
  height: 30px;
  display: inline-block;
  font-size: 28px;
  color: #fff;
  -webkit-font-smoothing: antialiased;
}
.buttons button.play:before {
  content: '\f144';
}

.buttons button.pause:before {
  content: '\f28b';
}
.orange-bar {
  height: 10px;
  top: 0;
  left: 0;
  width: 100%;
  background-color: black;
  cursor: pointer;
}
.orange-juice {
  height: 10px;
  background-color: orangered;
}

#videoList {
  float: right;
  border-radius: 5px;
  margin-top: 40px;
  width: 17%;
  height: 250px;
  background: rgb(245, 245, 245);
  float: right;
}

#sync {
  position: absolute;
  bottom: 0;
  left: 100;
  height: 50px;
}

.chat {
  float: left;
  margin-left: 0;
}

.chat > p {
  margin-left: 0;
}
